{{#each posts}}
  <div class="row">
    <div class="col s3">
      <div class="card">
        <h4>{{title}}</h4>
        <p>{{description}}</p>
        <p>by {{userName}}</p>
        <br>
        {{#each files}}
          <div class="col-md-4">
            <div class="card">
                <img src="uploads/{{filename}}" alt="" class="responsive-img">
            </div>
          </div>
        {{/each}}
        <br><br>
        <form class="" action="/posts/{{id}}?_method=DELETE" method="post">
          <button class="btn black"><a href="/posts/{{id}}/edit">Edit</a></button>
          <input type="hidden" name="_method" value="DELETE">
          <button class="waves-effect waves-light btn" type="submit" name="button">Delete</button>
        </form>
      </div>
    </div>
  </div>
{{else}}
    <h1>No Posts Found</h1>
{{/each}}
