<h1>Posts</h1>
<div class="row">
  {{#each posts}}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content center-align">
          <h5>{{title}}</h5>
          {{!-- <p class="story-text">{{truncate description 100}}</p> --}}
          <br>
          <div class="chip">
            <p>{{user.name}} {{user.lastName}}</p>
          </div>
        </div>
        <div class="card-action center-align">
          <a class="btn grey" href="/posts/show/{{id}}">View More</a>
        </div>
      </div>
    </div>
  {{else}}
    <p>No Posts found</p>
  {{/each}}
</div>